.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__inputs {
    margin: 2rem;
  }
  // button {
  //   width: 7rem;
  //   height: 2rem;
  //   background: red;
  //   color: white;
  //   border: none;
  //   border-radius: 5px;
  //   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  // }
}